ramexample.root
*.csv
*.log
*.perf
*.bam
*.bam.bai
*.root
*.root.idx
*.png
.ipynb_checkpoints/
tmp/
*.so
*.d
*.pcm
*.cxx_tmp
*.fq
*.bk
*.rootix
*.sam
build/
cmake-build-*/
Build/
BUILD/
Testing/
.vscode/
docs/html/
docs/latex/
html/