

# Genomics data
*.fastq
*.fastq.gz
*.fa
*.fa.gz

# BWA index files
*.amb
*.ann
*.bwt
*.pac
*.sa

# Output files
*.sam
*.ram
*.root

# Mac / temp
.DS_Store

# Accidental files
* 2.*
--help.ramramexample.root
*.csv
*.log
*.perf
*.bam
*.sam
*.bam.bai
*.root
*.root.idx
.ipynb_checkpoints/
tmp/
*.so
*.d
*.pcm
*.cxx_tmp
*.fq
*.bk
*.rootix
build/
cmake-build-*/
Build/
BUILD/
Testing/
.vscode/
docs/html/
docs/latex/
html/

